.icemegamenu > ul {
	padding: 0 0 0 10px;
	margin: 0;
	z-index: 999;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.icemegamenu > ul > li {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

#top .moduletable {
  padding: 0;
  border: none;
}
#top .moduletable .module_container {
  position: inherit;
}
#top .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  position: relative;
  transition: all 0.2s linear;
  background-color:#F9E79F ;
  height:190px;
}
.textindice {
  display: none;
  border: solid 1px gray;
  width:fit-content;
}
.indice:focus ~ .textindice{display:block;}
